//Colors
$black-100: #202020;
$black-80: #4B4B4B;
$black-60: #757575;
$black-40: #A0A0A0;
$black-20: #CACACA;
$black-10: #E0E0E0;
$black-05: #EBEBEB;
$white-100: #FFF;
$bg-color: #F5F5F5;
$link: #526ED3;

$pad: 1024px;
$mobile: 375px;

@mixin heading1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 100%;
}
@mixin heading2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
}
@mixin heading3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
}
@mixin text1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
}
@mixin text2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
}
@mixin text3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
}
@mixin text4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
}
