@import 'vars';

.news-detail {
  padding: 40px 240px 0;
  width: 100%;
  @media (max-width: $pad) {
    padding: 0 32px;
  }
  @media (max-width: $mobile) {
    padding: 0 16px;
  }
}

.header {
 @include heading1;
}

.date {
  margin: 16px 0;
}
