@import 'vars';
@import "reset";

/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: Inter;
  src: url(assets/font/inter.ttf) format("truetype-variations");
}

html {
  font-family: Inter, serif;
}

body {
  margin: 0;
}

.date {
  margin: 16px 0;
  padding: 8px 12px;
  border-radius: 25px;
  background: $black-05;
  width: fit-content;
  color: $black-80;
  @include text2;
}

.not-mobile {
  display: block;
  @media (max-width: $mobile) {
    display: none;
  }
}

.mobile {
  display: none;
  @media (max-width: $mobile) {
    display: block;
  }
}



